:root {
	--color-bg: #rgb(51, 59, 97);
	--color-white-bg: rgb(235, 235, 235);
	--color-navy: rgb(52, 82, 253);
}

/* CSS RESET */
html {
	font-size: 62.5%;
	font-family: sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(51, 59, 97);
	color: #fff;
}

*:focus {
	outline: none;
}

.app {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 4rem 0;
	text-align: center;

	gap: 6rem;

	height: 100%;
}

.app > header {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.result > h1 {
	margin-top: 1rem;
	font-size: 3.6rem;
}

.game {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 80%;

	gap: 5rem;
}
.game-presentation {
	display: flex;
	gap: 4rem;
	justify-content: center;
	width: inherit;
}
.game-answer {
}
.game-answer-letter {
	border-bottom: 2px solid blue;
	font-size: 2.4rem;
	padding: 1rem;
	margin-right: 1rem;
}
.game-answer-letter.hidden {
	color: transparent;
}
